{% extends 'base.html' %}

{% block questionnaire %}
<style type="text/css">
div.container{white-space:nowrap;width:100%; overflow:hidden }
#no_question    {background-color: rgba(255, 220, 0, 1)}
#question_01    {background-color: rgba(255, 220, 0, 0.9)}
#question_02    {background-color: rgba(255, 220, 0, 0.8)}
#question_03    {background-color: rgba(255, 220, 0, 0.7)}
#question_04    {background-color: rgba(255, 220, 0, 0.6)}
#question_05    {background-color: rgba(255, 220, 0, 0.5)}    
#question_06    {background-color: rgba(255, 220, 0, 0.4)}
#question_07    {background-color: rgba(255, 220, 0, 0.3)}
#question_08    {background-color: rgba(255, 220, 0, 0.2)}    
</style>


<div class="questions"><!-- QUESTION-->
    <style type="text/css">
    li {list-style:none; display: block;  padding: 0px; margin: 0px;
    width: auto; height: auto; }
    div.container {padding-right: 10px; padding-left: 10px;
                   margin-right: 10px; margin-left: 10px;}
    button.add_bt {padding: 6px;
                   background-color: rgba(134, 82, 40, 0.999);
                    border: 3px; border-radius: 3px; border-color:  rgba(241, 111, 4, 0.2);}
    </style>
    <div class="container" id="question_01"> 
        <h4>Research Questions - Problem and Solution Space</h4>
        <ul>
            <h5> Problem Space</h5>
            <li> <p>Describe what is the problem your research will need to solve.</p> </li>
            <li> <p>Which are the benefits that will come after solving this problem?</p> </li>
            <li> <p>Ex1: Projects restrictions</p> </li>
            <li> <p>Ex2: Limitations of existing technologies.</p> </li>
            <li> <label>Write down the problem space</label> </li>
            <li><form action="" method="POST">
                <textarea class="text_input" name="problem_space"    
                placeholder="Write down the problem space" rows="5"> </textarea>
                <button class="add_bt" type="button"> <span >Add</span></button>
                </form>
            </li>
        </ul>
        <ul>
            <h5> Solution Space</h5> 
            <li><p>Define which are the solutions for that problem.</p></li>
            <li><p>Which are the key technologies that will be used?.</p></li> 
            <li><label>Write down the problem space</label></li>
            <li><form action="" method="POST">
                <textarea class="text_input" name="solution_space"
                placeholder="Write down the solution space" rows="5"></textarea>
                <button class="add_bt" type="button"> <span ">Add</span>
                </button>
                </form>
            </li>

            </li> 
        </ul>   
    </div>
    <div class="container" id="question_02"> <h4>Define Main Groups</h4> </div>
    <div class="container" id="question_03"> <h4>Groups Relationship</h4> </div>
    <div class="container" id="question_04"> <h4>Venn Diagram</h4> </div>
    <div class="container" id="question_05"> <h4>Keyword by Group</h4> </div>
    <div class="container" id="question_06"> 
        <h4>Year range</h4> <h4>Language</h4>   <h4>Doc Type</h4>
    </div>
    <div class="container" id="question_07"> <h4>Non Related Keywords</h4> </div>
    <div class="container" id="question_08"> <h4>Search String</h4> </div>
</div>
{% endblock %}