{% extends 'base.html' %}

{% block username_header %}

<ul class="top_menu">
    <li class="top_menu"> <picture><img width="auto"; height= "75px" class="responsive-picture" 
            alt="" src="{{url_for('static', filename='media/content_analysis.jpg')}}"> 
    
    </li>
    <li class="top_menu"><h2 id="name_header">Content Analysis Recommendation </h2> </li>
    <li class="top_menu"> <p id="user_header"> {{ user.username }} </p> </li>
    <li class="top_menu"> <button type="button"> <span >Logout</span> </button> </li>
</ul>

{% endblock %}

