{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<title>Landing Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="icon" href="{{ url_for('static/media', filename='mini_logo.png') }}" type="image/x-icon">
<!-- <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css"> -->
{% endblock %}

{% block body %}
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container"> <a class="navbar-brand" href="{{ url_for('templates\general_temp', filename='about.html')}}">
          <i class="fa d-inline fa-lg fa-circle-o"></i>
          <b style=""> Content Analysis</b>
        </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" 
                        data-toggle="collapse" data-target="#navbar11">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar11">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="{{ url_for('templates\general_temp', filename='about.html')}}">About</a> </li>
          </ul> <a class="btn btn-primary navbar-btn ml-md-2" style="" 
                   href="{{ url_for('templates\auth_temp', filename='login.html')}}">Login</a>
        </div>
      </div>
    </nav>
    <div class="bg-light" style="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card text-center border border-dark">
              <div class="card-body border border-info">
                <h4 class="card-title">Accelerate your Academic Research Today</h4>
                <p class="card-text">Create your new account here!</p>
                <a href="#" class="btn btn-primary" style="">New User</a>
              </div>
              <div class="card-body">
                <h4 class="card-title">Already a user ?</h4>
                <a href="#" class="btn btn-primary" style="">Login</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pt-5 pb-2">
            <h2 class="mb-4">Content Analysis Web</h2>
            <p>Helping you explore existing and new knowledge frontriers</p>
          </div>
          <div class="col-md-4 pt-5 pb-2">
            <h2 class="mb-4">Mapsite</h2>
            <ul class="list-unstyled"> <a href="#" class="text-dark">Home</a> <br> <a href="#" class="text-dark">About us</a> <br> <br> </ul>
          </div>
          <div class="col-md-4 pt-5 pb-2">
            <h2 class="mb-4">Contact</h2>
            <p> <a href="#" class="text-dark">
                <i class="fa d-inline mr-3 text-muted fa-envelope-o"></i>r</a>icardoluhms@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3" style="" >
            <p class="text-center" style="">© Copyright 2020 rluhms - All rights reserved. </p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo> -->
{% endblock %}