{% extends 'bootstrap/base.html' %}

{% block title %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container"> 
            <!-- <button class="navbar-toggler navbar-toggler-right border-0" type="button" 
                        data-toggle="collapse" data-target="navbar11">
                <span class="navbar-toggler-icon"></span>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand" href=  ''> <i class="fa d-inline fa-lg fa-circle-o"></i>
                <b style=""> Content Analysis Web</b>
            </a> 
            <div class="collapse navbar-collapse" id="navbar11">
                <ul class="nav navbar-nav">
                    
                    <li><a class="btn btn-primary navbar-btn ml-md-2" href="{{ url_for('main.index')}}"> Home </a></li>
                    {% if current_user.is_anonymous %}
                    <li><a class="btn btn-primary navbar-btn ml-md-2" href="{{ url_for('auth.login')}}"> Login </a></li>
                    {% else %}
                    <li><a class="btn btn-primary navbar-btn ml-md-2"href="{{ url_for('auth.logout')}}"> Logout </a></li>
                    {% endif %}
                    <li><a class="btn btn-primary navbar-btn ml-md-2" href="{{ url_for('main.about')}}"> About </a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}

