<!DOCTYPE html>
<html>
<body >
<div class="py-5 text-center align-items-center d-flex" 
     style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); 
            background-size: 100%;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 mx-auto"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-5x"></i>
          <h1 class="display-3 mb-4">“You have successfully logged out!”</h1>
          <p class="lead mb-5">Thank for using our tool. We hoped that you enjoyed it!</p> 
          <a class="btn btn-lg mx-1 btn-outline-dark" href="/caw_app/main/templates/main_temp/index.html">Home</a>
          <!-- <a class="btn btn-lg mx-1 btn-outline-dark" href="{{ url_for('templates\main_temp', filename='index.html')}}">Home</a> -->
        </div>
      </div>
    </div>
  </div>
</body>
</html>